@tailwind base;
@tailwind components;
@tailwind utilities;

.text-react,
.hover-text-react:hover {
  color: #61dafb;
}

.bg-react {
  background-color: #282c34;
}

.max-w-700 {
  max-width: 700px;
}

.min-h-56 {
  min-height: 14rem;
}
